.widget .header {
    background-color: white !important;
    border: 1px solid #DADDDE !important;
}

.widget .header h1,
.widget .header h3 {
    width: 598px !important;
    height: 26px !important;
    font-family: 'Knockout' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 32px !important;
    line-height: 80% !important;
    text-transform: uppercase !important;
    font-feature-settings: 'ss02' on !important;
    color: #000000 !important;
}

#redeem-v2 h2 {
    font-weight: 700;
    padding-bottom: 10px;
    font-size: .875rem;
    width: 351px;
    height: 19px;
    font-family: 'Knockout';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 80%;
    text-transform: uppercase;
    font-feature-settings: 'ss02' on;
    margin-left: 240px;


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.additional-images,
.numeric-details {
    display: none;
}

#ct-modal:first-child {
    right: 14px !important;
    bottom: -32px !important;
}

#redeem-v2 .form button.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;

    width: 351px;
    height: 48px;

    /* web--light/button */

    background: rgba(25, 28, 35, 0.9);
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    margin-top: 48px;
}

#redeem-v2 .form label {
    margin-bottom: 5px;
}

#redeem-v2 #details .description {
    width: 351px;
    height: 133px;

    /* ios/body-01 */

    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */


    /* web--light/text--primary */

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    border-bottom: none !important;
}

#redeem-v2 #review .email-address-info {
    width: 351px;
    height: 19px;

    /* nba/body-01 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */


    /* web--light/on-background-alt */

    color: #4E5356;

    border-top: none !important;
    border-bottom: none !important;
    margin-bottom: 46px;
}

#redeem-v2 .left img {
    width: 239px;
    height: 133px;
}

#redeem-v2 #review .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 167.5px;
    height: 48px;
    border-radius: 4px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.close-container button.btn {
    display: flex;
flex-direction: column;
align-items: center;
padding: 12px 20px;
gap: 8px;

width: 351px;
height: 48px;

/* web--light/button */

background: rgba(25, 28, 35, 0.9);
border-radius: 4px;

font-family: 'Roboto Condensed';
font-style: normal;
font-size: 20px;
line-height: 100%;
color: white;
}

#redeem-v2 #confirmation .explain-redeem-success .explain-coupon {
    margin-bottom: 15px !important;
    margin-top: 15px;
}
